[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
openpyxl = "*"
pandas = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
"autopep8" = "*"
xlrd = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
